[nz-form] {
    max-width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 1px 2px #bbb;
    margin: 0 auto;
    border-radius: 10px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }
  [nzTitle] {
    text-align: center;
  }